# ใช้ Docker Compose เพื่อสร้าง FTP Server
# ใช้ Image pure-ftpd
# รองรับ Passive Mode ผ่านช่วง port 30000–30009
# ผูกโฟลเดอร์กับเครื่องจริงเพื่อเก็บไฟล์ถาวร
# สามารถเชื่อมต่อได้ทั้ง
# Web Application (Flask)
# FileZilla Client

version: "3.8"
# การกำหนดเวอร์ชันของ Docker Compose ที่ใช้ในโปรเจกต์

services:
  # การกำหนด service ที่ Docker จะสร้างขึ้น

  ftp:

    image: stilliard/pure-ftpd
    # *---* ตรงนี้คือการกำหนดให้ Docker ใช้ image pure-ftpd เพื่อสร้าง FTP Server *---*

    container_name: ftp-server
    # *---* ตั้งชื่อ container ให้จำง่าย ใช้เรียกด้วย docker exec / docker logs ได้ *---*

    ports:
      - "21:21"

      - "30000-30009:30000-30009"
      # *---* ส่วนนี้คือการเปิดพอร์ต 21 สำหรับ FTP และช่วงพอร์ต 30000-30009 สำหรับ Passive Mode *---*

      # *---* ส่วนนี้คือการกำหนดชื่อผู้ใช้และรหัสผ่านสำหรับ FTP Server (ใช้กับFileZilla Client แต่คงไม่ได้ใช้หรอก) *---*
    environment:
      # ตัวแปร environment สำหรับตั้งค่า pure-ftpd
      
      PUBLICHOST: "127.0.0.1"
      # ระบุ IP ของเครื่องที่ให้ FTP Client เชื่อมต่อ
      # ใช้ localhost เพราะรันบนเครื่องเดียวกัน
      
      FTP_USER_NAME: YJ
      # กำหนดชื่อผู้ใช้ FTP อัตโนมัติ

      FTP_USER_PASS: 1234
      # กำหนดรหัสผ่านของผู้ใช้ FTP

      FTP_USER_HOME: /home/ftpusers/ftpuser1
      # โฟลเดอร์ home directory ของผู้ใช้ FTP
      # เมื่อ login จะเข้ามาอยู่ในโฟลเดอร์นี้

      ADDED_FLAGS: "--passiveportrange 30000:30009 --forcepassiveip 127.0.0.1"
      # ตั้งค่าเพิ่มเติมให้ pure-ftpd
      # --passiveportrange : กำหนดช่วง port สำหรับ passive mode
      # --forcepassiveip   : บังคับใช้ IP นี้ในการเชื่อมต่อ passive

    volumes:
      # *---* ตรงนี้คือการเชื่อมโฟลเดอร์ในเครื่องกับใน container เพื่อให้ไฟล์ไม่หายเมื่อปิด Docker *---*
      - ./server_files:/home/ftpusers
      # map โฟลเดอร์ server_files บนเครื่อง host
      # ไปยัง /home/ftpusers ภายใน container
      # เพื่อให้ไฟล์ FTP ไม่หายเมื่อ container ถูก restart

    restart: always
    # หาก container หยุดทำงาน จะ restart อัตโนมัติ
    # เพิ่มความเสถียรของระบบ

    