/* UX/UI สี */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    border-color: #667eea;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #667eea;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #5563d6;
}

a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #667eea;
}

a:hover {
    text-decoration: underline;
}

.logout {
    margin-top: 20px;
    display: inline-block;
    color: red;
}
.file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.file button {
    background: red;
    padding: 5px 10px;
    font-size: 12px;
}

.file button:hover {
    background: darkred;
}
